# PROBLEM STATEMENT

                                        WHOLE FOOD MARKET

A big multinational company "Whole Foods market" wants to revamp their retail strategy in
India. You as a newly hired Data Analyst have been asked to be a part of the project. Your
job is to provide analytical support to the business in making business decisions.
You have been provided with some data around orders placed at various locations in India,
people who have returned the items, and customers.
All the data has been loaded into MySql and you are required to write SQL queries to help
the company make better decisions.

# TABLES

The data set provided to you has the following tables:
    
1. TABLE- orders

Order_ID (VARCHAR) - Primary Key for each order placed
Order_Date (VARCHAR) - when was the order placed
Ship_Date (VARCHAR) - when was the order shipped
Customer_ID (VARCHAR) -ID of the customer who placed the order
Segment (VARCHAR) - to which segment does the product sold belongs to
State (VARCHAR) - State where the order was placed
City (VARCHAR) - City where the order was placed
Product_ID (VARCHAR) - ID of the product sold
Category (VARCHAR) - Category of the product Sold
SubCategory (VARCHAR) - Sub category of the product Sold
Product_Name (VARCHAR) - Name of the product sold
Sales (DOUBLE) -Sale price of the order
Quantity (DOUBLE) - Quantity of product for which order was placed
Discount (DOUBLE) - % Discount offered on the MRP
Profit (DOUBLE) - Total Profit made on the order

2. TABLE- customers

Customer_ID (VARCHAR) - ID of the customer, primary key of the table
Customer_Name_ (VARCHAR) - Name of the Customer

3. TABLE- returns

Order_ID (VARCHAR) - Primary key of the order returned
Returned (VARCHAR) - If the order was returned or not

# TASK 1: Describe the TABLE- orders;

DESC orders;

# TASK 2: You are required to find out which category is performing better in terms of profit than the others so that business can find ways to improve.Write a query for the same. Result should be such that the highest profit category and its respective sum of profit be on the top of result set.

SELECT Category, SUM(Profit) FROM orders GROUP BY Category ORDER BY SUM(Profit) DESC

# TASK 3: While going through the data set you found out that the State column in the Orders table also contains Union territories and found a mistake. You found that for Chandigarh the city is marked as Delhi. You pointed out this mistake to database manager and he asks you to update the table.Write the query to update the city as Chandigarh where the State is Chandigarh.

UPDATE orders SET City = "Chandigarh" WHERE State = "Chandigarh";
SELECT * FROM orders;

# TASK 4: As a next step, you want to know how much company profit has been generated by the company so far. Write a query to find the total profit sum from orders table. Result should be such that only total profit sum is returned.

SELECT SUM(Profit) FROM Orders;

# TASK 5: You saw that the company has made good profits so far. You are required to report which order had the highest profit so far. Write a query to get the OrderID, ProductName and Profit. Result should be with respect to profit(In increasing order).

SELECT Order_ID, Product_Name, Profit FROM Orders ORDER BY Profit;

# TASK 6: Going through the data, you also want to report orders where there was loss. Write a query to get all the orders where there was a loss and report the order ID, product name and loss. Sort the result in a format that the highest loss is on the top.

SELECT Order_ID, Product_Name, Profit FROM orders WHERE Profit < 0 ORDER BY Profit;

# TASK 7: Now you know all the orders where there was a loss. You are curious to know why the company made a loss on those items. You see that discounts are also given on some items. Write a query to get the list of all orders which have loss and sort them in descending order of discount given. Print OrderID, ProductName, Profit and Discount.

SELECT Order_ID, Product_Name, Profit, Discount FROM orders WHERE Profit < 0 ORDER BY Discount DESC;

# TASK 8: You now want to know if there are particular states which are making losses. Write a query to get the State and sum of profit for each state. The result should be in increasing order of profit.

SELECT State, SUM(Profit) FROM orders GROUP BY State ORDER BY SUM(Profit);

# TASK 9: You have done a great job in helping the firm come up with states which are reporting losses. Now you want to go further and list categories in each state and see their profit. This will help analyze how various categories are performing in each state. Write a query to get state, category and sum of profits.

SELECT State, Category, SUM(Profit) FROM orders Group BY State, Category ORDER BY SUM(Profit);

# TASK 10: You realised that there are three segments of products: Consumer, Corporate and Home office. You ask your manager to provide you a list of the people who are managing these segments. Unfortunately these are not present in the database. Since you want to digitise the system, you plan to put the data in the database. He provides you the data on a sheet of paper as follows:
Segment - Varchar(100)
Segment_Manager- Varchar(100)
Write a query to create a table in the database with Name as Manager and with values provided. Do assign proper Primary key.

CREATE table Manager(Segment Varchar(100) Primary key, Segment_Manager Varchar(100));
INSERT INTO Manager values("Consumer", "Gaganjit Singh");
INSERT INTO Manager values("Corporate", "Aman Jain");
INSERT INTO Manager values("Home Office", "Kush Arora");
SELECT * FROM Manager;

# TASK 11: Now you have a table in the database named Manager. You are required to get the total profit and total orders for each segment. Write a query to get Segment, count of order, sum of profit.

SELECT Segment, COUNT(Order_ID), SUM(Profit) FROM orders GROUP BY Segment;

# TASK 12: Since you want to help the segment managers get fair evaluation and your manager has asked you to get the covid effect on the sales. Write the query to get sum of sales, sum of profit for the year 2020.

SELECT * FROM orders WHERE Order_Date LIKE "%20";

# TASK 13: Now your manager wants you to remove 2020 from the total sales and profit and present the result. Write a query to get the sum of sales of each segment and their respective segment manager for all years except 2020.

SELECT SUM(orders.Sales), Manager.Segment_Manager FROM orders JOIN Manager ON Manager.Segment = orders.Segment WHERE Order_Date NOT LIKE "%20" GROUP BY Manager.Segment

# TASK 14: Great job! You have helped your manager make the right decision in performance evaluation of segment managers. As for the next task, he wants you to help him do analysis on the customer level. Write a query to get Customer ID and sum of profit for each. The result should be such that you are easily able to find the highest profit customer.

SELECT Customer_ID, SUM(Profit) FROM orders GROUP BY Customer_ID ORDER BY SUM(Profit) DESC;

# TASK 15: Write a query to find the customer details having the highest Profit. The result should be such that you are easily able to find the highest profitable customer. The query should have columns : Customer_ID, Customer_Name_, sum of Sales, sum of Profit, count of Order_ID.

SELECT orders.Customer_ID, Customer_Name_, SUM(orders.Sales), SUM(orders.Profit), COUNT(orders.Order_ID) FROM orders JOIN customers ON orders.Customer_ID = customers.Customer_ID GROUP BY customers.Customer_ID, customers.Customer_Name_ ORDER BY SUM(orders.Profit) DESC;

# FINAL INSIGHTS

1)> The highest Profitable category was TECHNOLOGY.
2)> The most lossing making product was Cubify CubeX 3D Printer Double Head Printer.
3)> The order with the highest loss was not given the highest discount.
4)> Delhi and Daman n Diu are the highest loss making states for category Furniture.
5)> Manager Gaganjit singh was the highest profit maker.
6)> Customer with customer id= TC-20980 was the highest profit making customer.